
@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h3 style="color:green">Forgot Password Confirmation</h3>
        <hr />
        <p class="font-bold"> Before you can Login, please reset your password, by clicking on the reset password link we have emailed you on your email registered id.</p>
        <hr />
        @Html.ActionLink("Click here to navigate to the login page", "Login", "Account", new { area = "Security" })
    </div>
</div>

