
@{
    ViewBag.Title = "Change Password Confirmation";
}

<div class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h3 style="color:green">Password Changed Successfully</h3>
        <hr />
        <p class="font-bold"> Your password is successfully changed.</p>
        <hr />
    </div>
</div>

