@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="gray-bg">
    <div class="middle-box text-center animated fadeInDown" style="max-width: none;">
        <h3 style="text-align: center;color:red">Exception Message!</h3>
        <hr />
        @if (Model != null)
        {
            <h4 class="font-bold" style="color:red">
                <span>@Model.Exception.Message</span>
            </h4>
            <hr />
            <h3 style="text-align: center;color:red">Exception StackTrace!</h3>
            <h4 class="font-bold" style="color:red">
                <span>@Model.Exception.StackTrace</span>
            </h4>
            <hr />
            if (Model.Exception.InnerException != null)
            {
                <h3 style="text-align: center; color:red">Inner Exception!</h3>
                <h4 class="font-bold" style="color:red">
                    <span>@Model.Exception.InnerException</span>
                </h4>
            }
        }
        @Html.ActionLink("Click here to navigate to home page", "Index", "Home", new { area = "" })
        <h5>Please contact us on helpdesy@Myself.com</h5>
        <hr />
    </div>
</div>