@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "NotFound";
}
<div class="middle-box text-center animated fadeInDown">
    <h3>Page Not Found!</h3>
    <hr />
    <h4 class="font-bold">
        <span>Sorry, the resource you requested could not be found</span>
        @if (Model != null)
        {
            <span>@Model.Exception.Message</span>
        }
        <span>@ViewBag.ErrorMessage</span>
    </h4>
    @Html.ActionLink("Click here to navigate to home page", "Index", "Home", new { area = "" })
    <hr />
</div> 